@model EasyCRM.ViewModels.Inventory.InventoryItemDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <div class="panel">
        <table class="table table-striped table-bordered">
            <tbody>
                <tr>
                    <td class="font-bold"> @Html.DisplayNameFor(model => model.PartName)</td>
                    <td> @Html.DisplayFor(model => model.PartName)</td>
                </tr>
                <tr>
                    <td class="font-bold"> @Html.DisplayNameFor(model => model.PartNumber)</td>
                    <td> @Html.DisplayFor(model => model.PartNumber)</td>
                </tr>
                <tr>
                    <td class="font-bold"> @Html.DisplayNameFor(model => model.CreatedBy)</td>
                    <td> @Html.DisplayFor(model => model.CreatedBy)</td>
                </tr>
                <tr>
                    <td class="font-bold"> @Html.DisplayNameFor(model => model.CreatedDate)</td>
                    <td> @Html.DisplayFor(model => model.CreatedDate)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
